.sass-cache
.tmp
/node_modules
PROD.jpt
git.sh
index.html
globeproject.sublime-workspace
data/snowfall-totals.html
data/snowfall-totals_files
data/input
data/output
parts/globe
baselayer.tm2/fonts
graphics/map/js/templates/templates.js
