%updated {
	font-family: $sansSerif;
	@include adjust-font-size-to(8px, 1/2);
	@include rhythm(0, 0, 0, 0);
	color: rgba(102, 102, 102, 1);
}

.header {

	.main-hed {

		@include rhythm(0, 0, 0, 0);

		.legend {
			display: none;
		}
	}

	.subhed {

		@include rhythm(1/3, 0, 0, 1/3);

		@include breakpoint(max-width 600px) {
			font-size: 2rem;
		}


		> p, ul {
			@extend %updated;
		}

		.totals {
			background: #efefef;
			border-bottom: 1px solid shade(#efefef,10);
			padding: 0.25em 0;

			.totals-title {
				font-weight: bold;
				text-transform: uppercase;
				color: #444;
			}
		}

		ul {
			@include clearfix;
		}

		li {
			display: inline-block;
			padding-right: 5%;
			text-align: left;

			&:last-child {
				padding-right: 0;
			}

			@include breakpoint(max-width 800px) {
				float: left;
				width: 40%;
				padding-bottom: 1em;

			}
		}

		ul {
			border-top: 1px solid shade(#efefef,10);
			border-bottom: 1px solid shade(#efefef,10);
			padding: 0.5em 0;
		}

		.util-name {
			font-weight: bold;
			text-transform: uppercase;
			color: #444;
			display: block;
		}

		.util-outageinfo {
			display: block;
		}
	}
}

.igraphic-graphic.map {

	.hed,
	.subhed {
		display: none;
	}

	.mobile-header {
		.nottouch {
			display: none;
		}

		.touch & h1 {
			padding: 0;
		}
	}

	.mobile-drawer .subhed p, ul li {
		@extend %updated;
		text-align: left;
		@include adjust-font-size-to(14px);
	}

	.content {

		.map {
			height: 0;
			padding-bottom: 61.80%;
			border: 1px solid #ddd;
		}

		.touch & .map {
			width: 100%;
			height: 100%;
			padding-bottom: 0;
			border: none;
		}
	}

	.leaflet-container {
	    background: #FFF;
	}

	.leaflet-popup {

		pointer-events: none;

		.leaflet-popup-content-wrapper {
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
			border-radius: 0;

			.leaflet-popup-content {
				@include rhythm(1/3, 0, 0, 1/3);
				margin-left: 0.5em;
				margin-right: 0.5em;

				p {
					@include rhythm(0, 0, 0, 0);

					&.town {
						text-transform: capitalize;
						@include trailing-border(1px, 0);
						border-width: 1px;
						@include rhythm(0, 0, 1/3, 1/3);
					}

					&.none {
						color: #999999;
					}

				}
			}
		}
	}

	.leaflet-top-pane {
		pointer-events: none;
    }

	.leaflet-popup-tip-container {
		display: none;
	}

	.leaflet-bar {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
		border-radius: 1px;
	}

	.legend {
		font-family: $sansSerif;
		background-color: white;
		padding-left: 0.75em;
		padding-right: 0.75em;
		@include padding-leader(1/3);
		@include padding-trailer(1/3);

		.touch & {
			@include adjust-font-size-to(11px);
			@include padding-leader(0);
			@include padding-trailer(0);
			margin-left: 42px;
			margin-right: 64px;
		}

		p {
			@include rhythm(0, 0, 0, 1/4);

			.touch & {
				@include rhythm(0, 0, 0, 0);
				@include adjust-leading-to(1);
				text-align: left;
			}

			span {
				font-weight: bold;

				.touch & {
					font-weight: normal;
				}

			}
		}

		ul {
			width: 100%;
			overflow: hidden;
			position: relative;

			.touch & {
				@include adjust-leading-to(0);
			}

			li {
				float: left;
				width: 25%;
			}

			&.colors li {
				height: 0.55em;
			}

			&.numbers li {

				text-align: center;
				position: relative;

				&:nth-child(1) {
					text-align: left;
					span {
						left: 0;
					}
				}

				&:nth-child(5) {
					text-align: right;
					span {
						left: 0;
					}
					position: absolute;
					right: 0;
				}

				span {
					@include adjust-font-size-to(13px);
					position: relative;
					left: -50%;

					.touch & {
						@include adjust-leading-to(1);
						font-weight: normal;
					}
				}

			}
		}
	}
}